* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Barlow, sans-serif;
  font-size: 0.7rem;
}

h1,
h4 {
  font-family: Barlow, sans-serif;
}

.how-it-works {
  background-color: #f7f8fa;
  text-align: center;
}

.max-width {
  max-width: 700px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.column-full {
  flex-basis: 100%;
}

.column-fourth {
  flex-basis: 25%;
}

.image-screen {
  width: auto;
  height: 250px;
}

.image-icon {
  width: auto;
  height: 50px;
}

.column-content {
  margin: 0 0 30px;
}
